@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  scroll-behavior: smooth;

  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
main {
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
/* HEADER*/
.header {
}
.header__logo {
  display: flex;
  flex-direction: row;
}
.logo__image {
  width: 100px;
}
.logo__subtitle,
.logo__title {
  word-break: break-all;

  color: #303636;
  margin: 0;
  font-size: 1.2rem;
}
.logo__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
  line-height: 115%;
}
.logo__details {
  margin-left: 15px;
}

.header__container {
  margin: 0 auto;
  padding: 0 20px;
  background-color: #fff;
}

.header__top-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem;
  border-bottom: 0.5px solid #ccc;
}
.header__row-container {
  display: flex;
  flex-direction: column;
}
.header__row {
  margin-bottom: 5px;
}
.header__figure {
  display: flex;
  align-items: center;
}

.header__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.header__caption {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 1100px) {
  .header__row-container {
    display: none;
  }
}

/* бургер меню */
.burger {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 15;
  align-items: center;
  width: 40px;
  height: 24px;
}

.burger span {
  height: 2px;
  width: 100%;
  transform: scale(1);
  background-color: #303636;
}
.burger::after,
.burger::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #303636;
  transition: all 0.3s ease;
}
.burger::after {
  bottom: 0;
}
.burger::before {
  top: 0;
}
.burger.active {
  position: fixed;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  background-color: #f2f2f2;
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  background-color: #f2f2f2;
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

/* navigation menu*/
.menu {
  z-index: 15;
  padding: 10px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid #ccc;
  transition: transform 0.2s linear;
}

.menu_hidden {
  transform: translateY(-350px);
}
.menu_visible {
  top: 0;
  left: 0;
}
.menu__list {
  display: flex;
  padding: 0 5%;
  width: 80%;
  position: relative;
  align-items: center;
  text-align: center;
}
.menu__item {
  position: relative;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.menu__sub-list {
  display: block;
  position: absolute;
  z-index: 20;

  top: 46px;
  left: -10px;
  text-align: left;
  padding: 0 10px 0 10px;
  background-color: #fff;

  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 0;
  transition: 0.5s ease;
}
.menu__item.open .menu__sub-list {
  padding: 5px 10px;
  height: auto;
}
.menu__sub-item:not(:last-of-type) {
  margin-bottom: 10px;
}
.menu__sub-item {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.menu__item.open .menu__sub-item {
  opacity: 1;
  transform: translateY(0);
}

.menu__link {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 150%;
  position: relative;
}

.menu__item.menu__item_has-children::after {
  content: '';
  display: inline-block;
  flex-shrink: 0;
  width: 16px;
  height: 22px;
  margin-left: 8px;
  background: url('./images/arrow-btn.svg') 50% 50% no-repeat;
  transition: transform 0.5s ease-in-out;
  vertical-align: middle;
}

.menu__item.open.menu__item_has-children::after {
  transform: rotate(-180deg);
}

.menu__item:not(.menu__item_has-children) > .menu__link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d22630;
  bottom: 0;
  left: 0;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.menu__item:not(.menu__item_has-children):hover > .menu__link::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

@media (max-width: 1000px) {
  .burger {
    display: flex;
  }
  .menu {
    display: none;
    justify-content: normal;
    align-items: flex-end;
    flex-direction: column;
    position: fixed !important;
    height: 100%;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 13;
    animation: burger 0.4s;
  }
  .menu.open {
    display: flex;
  }
  .menu__list {
    position: relative;
    padding-top: 40px;
    background-color: #303636;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    gap: 10px;
    z-index: 14;
  }
  .menu__link {
    color: white;
  }
  .menu__link:visited {
    color: white;
  }
  .menu__item.menu__item_has-children::after {
    content: none;
  }

  .logo__title {
    font-size: 1.5rem;
  }
  .logo__subtitle {
    font-size: 1rem;
  }
}
@media (max-width: 600px) {
  .menu__list {
    width: 100%;
  }
  .logo__details {
    display: none;
  }
}
@keyframes burger {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* часто задаваемые вопросы*/

section {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.faq-section {
  position: relative;
  padding: 40px;
  background-image: url('https://cdn.pixabay.com/photo/2016/02/07/14/51/hatena-1184896_1280.png');
  background-size: cover;
  background-position: top;
  width: 100%;
}
.faq-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 2;
}

.faq-section__title {
  text-shadow: 1px 1px 10px #000;
  margin-bottom: 4vh;
  color: rgba(255, 255, 255, 0.881);
}
.faq {
  max-width: 700px;
  margin-bottom: 2rem;
  box-shadow: 5px 7px 10px 3px #000;
  background-color: #f2f2f2;
  padding: 1rem;
  border-bottom: 2px solid rgb(0, 0, 0);
  cursor: pointer;
}
.faq__question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
}
.faq__answer p {
  padding-top: 1rem;
  line-height: 110%;
}
.faq.active .faq__answer {
  max-height: 300px;
}

/*футер*/
footer {
  width: 100%;
  background-color: #303636;
  padding: 50px;
}
.footer__content {
  display: flex;
}
.footer__content > :not(:last-child) {
  margin-right: 10vw;
}
.footer__contacts {
  max-width: 240px;
}
.footer__row {
  margin-bottom: 10px;

  color: rgba(255, 255, 255, 0.6);
}
.footer__link {
}
.footer__figure {
  margin: 0;
  height: fit-content;
  display: flex;
  align-items: center;
}
.footer__social-icons {
  height: 3rem;
}
.footer__icon {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  transition: all 0.5s ease-in-out;
}
.footer__link svg path {
  transition: 0.5s;
}
.footer__link:hover .footer__icon {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.footer__link:hover svg path {
  fill: rgba(255, 255, 255, 0.9);
}
.footer__caption {
  margin-left: 13px;
  color: rgba(255, 255, 255, 0.6);
}
.footer__socials {
}
.footer__title {
  color: rgba(255, 255, 255, 0.8);

  margin-bottom: 10px;
}
.footer__social-icons .footer__link {
  margin-left: 10px;
}
@media (max-width: 580px) {
  .footer__for-patients {
    display: none;
  }
}
@media (max-width: 380px) {
  .footer__work-hours {
    display: none;
  }
}

/* новости */
#news {
  background-color: #f2f2f2;
  padding-bottom: 20px;
}
.news {
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.news__button,
.news__slider-wrapper,
.news__dot {
  display: inline-block;
  vertical-align: middle;
}

.news__slider-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 650px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.news__slider-line {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  left: 0;
  transition: 1s ease-in-out;
  height: 100%;
}

.news__button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 50px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
  color: #000;
  z-index: 10;
}
.news__button_prev {
  left: 10px;
}

.news__button_next {
  right: 10px;
}

.news__button:hover,
.news__dot:hover {
  background-color: rgba(177, 174, 174, 0.7);
}

.news__dots-wrapper {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 10;
}

.news__dot {
  margin: 5px;
  width: 2vw;
  height: 1vw;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 30%;
}

.news__dot_active {
  background-color: rgba(177, 174, 174, 0.5);
}
.news__link-wrapper {
  display: block;

  text-decoration: none;
}
.news__link-wrapper::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
}
.news__slide {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  background-position: center center;
}
.news__slide[data-title]::after {
  content: attr(data-title);
  border: none;

  display: block;
  position: absolute;
  left: 7vw;
  bottom: 8vh;
  font-size: 3rem;
  font-weight: 600;
  color: #f2f2f2;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 0),
    0 0 0.2em rgb(0, 0, 0);
}
@media (max-width: 1050px) {
  .news__slide[data-title]::after {
    font-size: 2rem;
  }
}
@media (max-width: 630px) {
  .news__slide[data-title]::after {
    font-size: 1.2rem;
  }
}
/* .news__slide[data-date]::before {
  content: attr(data-date);
  padding: 2px;
  border-radius: 2px;
  display: block;
  position: absolute;
  right: 0vw;
  bottom: 0vh;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #fff;

  background-color: rgba(255, 255, 255, 0.6);
} */

.news__slider-img {
}

.news__arrow {
  width: 100px;
  height: 100px;
}
.news__arrow_reversed {
  transform: rotate(180deg);
}
/* время и номера */
.important-info {
  background-color: #f7f7f7;
  padding: 20px;
}

.important-info__container {
  display: flex;
  justify-content: space-between;
}

.important-info__time,
.important-info__numbers {
  flex-basis: 48%;
}

.important-info__title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.important-info__list,
.important-info__numbers-list {
  list-style: none;
  padding: 0;
}

.important-info__item,
.important-info__numbers-item {
  margin-bottom: 8px;
}

.important-info__item:hover,
.important-info__numbers-item:hover {
  color: #d22630;
}

.important-info__numbers {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.important-info__numbers-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  list-style: none;
  padding: 0;
}

.important-info__numbers-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.important-info__numbers-item:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .important-info__container {
    flex-direction: column;
  }
  .important-info__time {
    text-align: center;
  }

  .important-info__time,
  .important-info__numbers {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 550px) {
  .important-info__numbers-list {
    grid-template-columns: 1fr;
    gap: 5px;
  }
}

/* услуги */
.services {
  padding: 15px 0;
  background-color: #f2f2f2;
}
.services__container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
}
.services__title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
}
.services__inner-container {
  margin: 0 -1%;
  display: flex;
  flex-wrap: wrap;
}
.services__item {
  max-width: 23%;
  padding: 45px 25px 35px;
  margin: 0 1% 2.2%;
  flex: 0 0 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 0 10px 3px rgba(120, 140, 150, 0.2);
  transition: all 0.3s ease-in-out;
}
.services__item:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 2px 1px #d22630;
}
.services__item-img {
  margin-bottom: 20px;
  flex: 0 0 80px;
  width: 80px;
  height: 80px;
}
.services__item-title {
  max-width: 100%;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1000px) {
  .services__item {
    padding: 30px 15px;
  }
  .services__title {
    font-size: 30px;
  }
  .services__item-title {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .services__title {
    font-size: 28px;
  }
  .services__item {
    margin: 0 1.15% 2.2%;
    flex: 0 0 31%;
    max-width: 31%;
  }
}
@media (max-width: 580px) {
  .services__title {
    font-size: 24px;
  }
  .services__item {
    padding: 25px 10px;
    margin: 0 1% 3%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48%;
    flex: 0 0 48%;
    max-width: 48%;
  }
}
/* отзывы */
.reviews-section {
  position: relative;
  padding: 40px;
  background-image: url('./images/review.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.reviews-section__title {
  text-shadow: 1px 1px 10px #000;
  color: #f2f2f2;
}
.reviews-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 2;
}
.reviews-section__container {
  display: grid;
  overflow: hidden;
  max-width: 80%;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  gap: 20px;
  padding: 10px;
}
@media (max-width: 1250px) {
  .reviews-section__container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}
@media (max-width: 900px) {
  .reviews-section__container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
@media (max-width: 600px) {
  .reviews-section__container {
    grid-template-columns: repeat(1, minmax(100px, 1fr));
  }
}
.reviews-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.review-card {
  font-size: 1rem;
  padding: 2vh;
  min-height: 100%;
  border-radius: 10px;
  background-color: #f2f2f2;
  display: flex;
  flex-flow: column nowrap;
}

.review-card__profile {
  padding: 1vh;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-bottom: 5px;
  border-bottom: 2px solid #dfdfdf;
}
.review-card__user {
  word-break: break-word;

  font-weight: 600;
}
.review-card__text {
  display: block;
  word-break: break-word;
  min-height: 100%;
  line-height: 140%;
  text-align: center;
}
.review-card__img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.review-card__img svg {
  width: 100%;
  height: 100%;
}
.reviews-section__buttons-container {
  display: flex;
  gap: 15px;
  width: 60%;
}
.reviews-section__button {
  width: fit-content;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  padding: 5px;
  background-color: #303636;
  color: #f2f2f2;
  transition: all 0.2s;
  cursor: pointer;
}
.reviews-section__button:active {
  background-color: #bbb;
  transform: translateY(-2px);
}
.review-component_hidden {
  display: none !important;
}

/* форма отзыва */
dialog {
  position: fixed;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.review-form {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 3vh;

  flex-direction: column;
  justify-content: space-around;
  padding: 2vh 2vw;
}
/* asdsadas */
.unselectable {
  user-select: none;
}
.review-form__user-field {
  display: flex;
  flex-direction: column;
}
.review-form__title {
  display: inline;
  margin: 0 auto 20px;
}
.review-form__label {
  font-weight: 600;
  margin-bottom: 5px;
}
.review-form__user-input {
  position: relative;
  padding: 3px;
  margin-bottom: 10px;
  border: 1px solid #000;
  font-size: 2vh;
}
.review-form__user-input:valid {
  border-color: rgb(46, 189, 46);
}
.review-form__user-input:invalid {
  border-color: rgb(221, 27, 17);
}
.review-form__input {
  max-width: 50%;
}
.review-form__button {
  width: fit-content;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
  padding: 1.5vh;
  background-color: #ccc;
  transition: all 0.2s;
  cursor: pointer;
}
.review-form__button:active {
  background-color: #bbb;
  transform: translateY(-2px);
}
.review-form__textarea {
  box-sizing: border-box;
  min-height: 3vh;
  max-height: 150px;
}
